@import '../../common-styles/variables.scss';

.HeroSection{
    position: relative;
    margin-top: 96px;

    .container_fluid{

        @media (max-width: 1499.98px) {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        @media (max-width: 991.98px) {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        .swiper{

            .swiper-wrapper{

                .swiper-slide{
                    border-color: rgb(245, 230, 224);
                    padding: 10px;
                    border: 1px solid #eee !important;

                    @media (max-width: 1499.98px) {
                        padding: 0;
                        border: none;
                    }

                    .swiper_slider_inr{
                        position: relative;
                        overflow: hidden;

                        .slider_bg_otr{
                            background-color: rgb(245, 230, 224);

                            .slider_bg{

                                @media (max-width: 1499.98px) {
                                    height: 600px;
                                }

                                @media (max-width: 991.98px) {
                                    height: 500px;
                                }

                                @media (max-width: 575.98px) {
                                    height: 400px;
                                }
                            }
                        }

                        .slideshow_text{
                            position: absolute;
                            top: 50%;
                            left: 156px;
                            transform: translateY(-50%);
                            z-index: 4;

                            @media (max-width: 1499.98px) {
                                left: 5%;
                            }

                            .title{
                                text-transform: uppercase;
                                color: $Primary-color;
                                padding-left: 52px;
                                margin-bottom: 8px;
                                position: relative;

                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 2.5rem;
                                    height: 2px;
                                    margin-top: -1px;
                                    background-color: currentColor;
                                    color: inherit;
                                }
                            }

                            .heading{
                                text-transform: uppercase;
                                color: $text-color;
                            }

                            .desc{
                                text-transform: uppercase;
                                color: $text-color;
                                margin: 16px 0 48px;
                            }

                            .action_otr{
                                margin-top: 16px;

                                .discover_btn{
                                    text-transform: uppercase;
                                    color: $text-color;
                                    position: relative;
                                    transition: .3s;

                                    &:hover{

                                        &::after{
                                            width: 100%;
                                        }
                                    }

                                    &::after{
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        width: 65%;
                                        max-width: 100%;
                                        height: 3px;
                                        transition: width .28s cubic-bezier(.47,0,.745,.715);
                                        background-color: $text-color;
                                        transition: .3s;
                                    }
                                }
                            }
                        }

                        .slideshow_character{
                            position: absolute;
                            left: 60%;
                            bottom: -10px;

                            @media (max-width: 767.98px) {
                                left: 50%;
                            }

                            @media (max-width: 575.98px) {
                                left: 40%;
                            }

                            @media (max-width: 420px) {
                                left: 30%;
                            }

                            .img{
                                max-height: 733px;

                                @media (max-width: 1499.98px) {
                                    max-height: 600px;
                                }

                                @media (max-width: 991.98px) {
                                    max-height: 450px;
                                }

                                @media (max-width: 575.98px) {
                                    max-height: 350px;
                                }
                            }

                            .character_markup_text{
                                position: absolute;
                                bottom: 5rem;
                                margin-left: -1.5em;
                                -webkit-text-stroke-width: 3px;
                                -webkit-text-stroke-color: #fff;
                                color: transparent;
                                font-size: 7.5rem;
                                transform: rotate(90deg);
                                transform-origin: bottom right;
                                opacity: .8;

                                @media (max-width: 991.98px) {
                                    bottom: 3rem;
                                }

                                @media (max-width: 575.98px) {
                                    margin-left: -0.8em;
                                }

                                .text{
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-pagination{
                left: 156px;
                margin-bottom: 48px;
                width: auto;

                @media (max-width: 991.98px) {
                    left: 5%;
                    margin-bottom: 32px;
                }

                .swiper-pagination-bullet{
                    position: relative;
                    width: 1.875rem;
                    height: 1.875rem;
                    margin: 0 4px;
                    border: 2px solid;
                    background-color: transparent;
                    color: transparent;
                    opacity: 1;
                    outline: none;

                    &::after{
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: .375rem;
                        height: .375rem;
                        margin-top: -.1875rem;
                        margin-left: -.1875rem;
                        border-radius: 100%;
                        background-color: currentColor;
                        color: #ddc2bd;
                        content: "";
                    }
                }

                .swiper-pagination-bullet-active{
                    color: $text-color;

                    &::after{
                        color: inherit;
                    }
                }
            }
        }
    }

    .scroll_text_otr{
        width: 3.75rem;
        transform: rotate(-90deg) translateX(30%);
        white-space: nowrap;
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 0;

        @media (max-width: 1499.98px) {
            display: none;
        }

        .scroll_text{
            text-transform: uppercase;
            padding-left: 52px;
            color: $text-color;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.5rem;
                height: 2px;
                margin-top: -1px;
                background-color: currentColor;
                color: inherit;
            }
        }
    }

    .social_otr{
        width: 3.75rem;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @media (max-width: 1499.98px) {
            display: none;
        }

        .social_ul{
            display: flex;
            flex-direction: column;
            align-items: center;

            .social_li{

                .social_a{
                    padding: .5rem 1rem;
                    transition: .3s;

                    &:hover{

                        .icon{
                            color: $text-color;
                        }
                    }

                    .icon{
                        font-size: 18px;
                        color: $text-secondary;
                        transition: .3s;
                    }
                }
            }
        }

        .text{
            transform: rotate(-90deg);
            white-space: nowrap;
            text-transform: uppercase;
            color: $text-secondary;
            margin-top: 60px;
        }
    }
}