@import '../../common-styles/variables.scss';

.CompanyPartnerSection{
    padding-top: 48px;

    .container{

        .company_heading{
            text-transform: capitalize;
            color: $text-color;
            margin-bottom: 24px;
        }

        .swiper{

            .swiper-wrapper{

                .swiper-slide{

                    .logo_otr{

                        .logo_img{
                            width: 125px;
                            height: 24px;
                            object-fit: contain;

                            @media (max-width: 991.98px) {
                                width: 96px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}