/* ======================================
    Color Variables Starts Here
====================================== */

$black: #000000;
$White: #FFFFFF;
$Primary-color: #C32929;
$text-color: #222222;
$text-secondary: #767676;
$border-color: #e4e4e4;

/* ======================================
    Font Size Variables Starts Here
====================================== */

$font-size-120px: 120px;
$font-size-70px: 70px;
$font-size-36px: 36px;
$font-size-26px: 26px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;

/* ======================================
    Line Height Variables Starts Here
====================================== */

$line-height-86px: 86px;
$line-height-32px: 32px;
$line-height-24px: 24px;

/* ======================================
    Font Family Variables Starts Here
====================================== */

$font-family-Jost-Regular: 'Jost-Regular';
$font-family-Jost-Medium: 'Jost-Medium';
$font-family-Jost-SemiBold: 'Jost-SemiBold';
$font-family-Jost-Bold: 'Jost-Bold';

/* ======================================
    Box Shadow Variables Starts Here
====================================== */

