@import '../../common-styles/variables.scss';

.cart_icon_container{
    position: relative;
    cursor: pointer;

    .shopping_icon{
        font-size: 24px;
        color: $text-color;
    }

    .item_count{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-color: #b9a16b;
        border-radius: 100%;
        color: $White;
        font-size: 10px;
        line-height: 16px;
        font-family: $font-family-Jost-Regular;
        text-align: center;
    }
}