@import '../../common-styles/variables.scss';

.ProductSection{

    .container{

        .row_custom{
            gap: 24px 0;
        }

        .action_otr{
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }
    }
}

.col_box_otr {
    .col_box_inr {
        .img_otr {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
            transition: transform 0.3s ease, opacity 0.3s ease;

            @media (max-width: 1399.98px) {
                height: 350px;
            }

            @media (max-width: 1199.98px) {
                height: 280px;
            }

            @media (max-width: 420px) {
                height: 200px;
            }

            &:hover {

                .img {
                    transform: scale(1.1);
                }

                .img_cart_btn_otr {
                    bottom: 10px;
                    opacity: 1;
                }
            }

            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: transform 0.3s ease, opacity 0.3s ease;
            }

            .img_cart_btn_otr {
                position: absolute;
                bottom: -10px;
                left: 10px;
                right: 10px;
                z-index: 4;
                opacity: 0;
                transition: bottom 0.3s ease, opacity 0.3s ease;
            }
        }

        .content {
            margin-top: 16px;
            position: relative;

            .title {
                color: $text-secondary;
            }

            .heading {
                color: $text-color;
                transition: color 0.3s ease;

                &:hover {
                    color: $Primary-color;
                }
            }

            .price {
                color: $text-color;
            }

            .star_text_otr {
                display: flex;
                align-items: center;
                gap: 0 4px;

                .star_ul {
                    display: flex;
                    align-items: center;

                    .star_li {
                        .star_icon {
                            font-size: 12px;
                            color: #ffc78b;
                        }
                    }
                }

                .text {
                    color: $text-secondary;
                }
            }

            .icon_otr {
                position: absolute;
                top: 0;
                right: 0;

                .icon {
                    font-size: 20px;
                    color: $text-secondary;
                }
            }
        }
    }
}
