@import '../../common-styles/variables.scss';

.ServiceSection{
    padding-top: 72px;

    @media (max-width: 991.98px) {
        padding-top: 48px;
    }

    @media (max-width: 575.98px) {
        padding-top: 36px;
    }

    .container{

        .row_custom{
            gap: 36px 0;

            .col_box_otr{

                .col_box_inr{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .icon_otr{

                        .icon{
                            font-size: 48px;
                            color: $text-color;
                        }
                    }

                    .content_otr{
                        text-align: center;

                        .heading{
                            color: $text-color;
                        }

                        .desc{
                            color: $text-secondary;
                        }
                    }
                }
            }
        }
    }
}